*{
   margin-top: 5px; 
}
table *{
    border-style: solid;
}
canvas{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    /* grid-template-areas:
      "a a a a a a a a"
      "a a a a a a a a"
      "a a a a a a a a"
      "b b b b b b b b"
      "b b b b b b b b"
      "b b b b b b b b"
      "c c c c c c c c"
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d"
      "c c c c d d d d"
      "e e e e e e e e"
      "e e e e e e e e"
      "e e e e e e e e"
      "f f f f g g g g"
      "f f f f g g g g"; */
    grid-template-areas:
      "a a a a a a a a"
      "a a a a a a a a"
      "a a a a a a a a"
      "b b b b b b b b"
      "b b b b b b b b"
      "b b b b b b b b"
      "c c c c c c c c"
      "c c c c c c c c"
      "c c c c c c c c"
      "d d d d d d d d"
      "d d d d d d d d"
      "d d d d d d d d";
    align-items: start;
  }
  #Pressure {
    grid-area: d;
  }
  #Acceleration{
    grid-area: a;
  }
  #Velocity{
    grid-area: b;
  }
  #Height{
    grid-area: c;
  }
 .buttons{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 14px 15px 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  :hover{
      transform: translateY(-2px);
  }
 }